<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
    <main layout:fragment="content">
        <h1 th:text="#{data.title}"></h1>
        <h1 th:text="${data.title}">게시글 제목</h1>
        <p th:text="${data.content}">게시글 내용</p>
        <a href="/board/list">목록으로 돌아가기</a>
        <a href="/board/post">글 작성</a>
        <a th:href="@{/board/update/{seq}(id=${data.seq})}">글 수정</a>
        <a th:href="@{/board/delete/{seq}(id=${data.seq})}">글 삭제</a>
    </main>
</html>