<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
    <main layout:fragment="content">
        <h1 th:text="#{게시글_목록}"></h1>
        <table>
            <thead>
                <tr>
                    <th th:text="#{게시글_번호}"></th>
                    <th th:text="#{게시글_제목}"></th>
                    <th th:text="#{작성된 시간}"></th>
                </tr>
                <div>
                    <a th:href="@{/board/post}" th:text="#{글쓰기}"></a>
                </div>
            </thead>
            <tbody>
                <tr th:each="data : ${datas}">
                    <td th:text="${data.seq}"></td>
                    <td>
                        <a th:href="@{/board/content/{seq}(seq=${data.seq})}" th:text="${data.title}"></a>
                    </td>
                    <td th:text="${data.createdAt}"></td>
                </tr>
            </tbody>
        </table>
    </main>
</html>