<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
    <main layout:fragment="content">
        <h1 th:text="#{글쓰기}"></h1>
        <form name="frmRegist" method="POST" th:action="@{/board/save}" autocomplete="off" th:object="${requestBoardData}">
            <div class="error global" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>

            <div th:replace="~{front/outlines/_common::fields}"></div>

            <button type="submit" th:text="#{등록}"></button>
        </form>
    </main>
</html>